#features{
    background-color:#F7F7F5;
    background-image: url('../images/mobile1.jpg');
	padding: 5em 0 25em;
	background-repeat: no-repeat;
    background-position: bottom center;
}
@media screen and (max-width: 480px){
	#features{
		padding: 25px 0 400px;
	}
}