#landing {
  background-color: $primary-color;
  color: #FFF;
  text-align: center;
  text-align: center;
  padding-top: 2em; 

  nav{
    margin-right: 7em;
  }

  nav a{
   color: #fff;
   text-decoration : none;
   margin-left: 1.5em;


   &.active{
     font-weight : bold;
     border-bottom :2px solid #fff;
     padding-bottom : 0.5em;
   }  
 }

 h1{
  font-size:4em;
  margin-top :1em;
}

p{
  font-size:1.3em;
  margin: 0 6em;
}

a.action{
  background-color: $secondary-color;
  color: #fff;
  border-radius: 2px;
  width: 10em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.6em;
  margin: 1em;
  

}


.image-container{
 position: relative;

 img {
  width: 60%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.caption{
  position: absolute;
  bottom: 30px;
  left: 290px;
  text-align: left;
  display: block;
}

.likes{
  position: absolute;
  bottom: 30px;
  right: 400px;
  font-size: 20px;
  display: block;
}

.edit{
  position: absolute;
  top: 25px;
  right: 418px;
  font-size: 30px;
  display: block;
}
}
}

@media screen and (max-width: 480px){
  #landing {

    .image-container img {
      width: 95%;
    }
    .title{
      font-size: 15px;
    top: -20px;
    left: -252px;
    margin: 0px;
    position: absolute;
    }
    .date{
      font-size: 15px;
      left: -253px;
      margin: 0px;
      position: absolute;
    }

    .image-container .likes {
      position: absolute;
      bottom: 13px;
      right: 50px;
      font-size: 15px;
      display: block;
    }
    .image-container .edit {
      position: absolute;
      top: 6px;
      right: 50px;
      font-size: 20px;
      display: block;
    }
  }
}



